<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <!--<link rel="stylesheet" href="/styles/css/styles.css">-->
  <script src="javascripts/vendor/jquery/dist/jquery.min.js"></script>
  <script src="javascripts/vendor/easystar-0.1.13.js"></script>
</head>
<body>

<div role="main">

<header>
<div class="select">
<img style="display: inline-block;" class="stone" src="./images/stonemason.png"></img>
<img style="display: inline-block;" class="wood" src="./images/woodchopper.png"></img>
<img style="display: inline-block;" class="build" src="./images/builder.png"></img>
<img style="display: inline-block;" class="war" src="./images/garrison.png"></img>


</div>
<div class="contain">
	<h1 style="text-align: center;">Ludum Dare 30</h1>
</div>
</header>

<!-- Page Content Below -->